.about-page {
    width: 80vw;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .image {
        display: flex;
        justify-content: center;
        img {
            width: 50vw;
        }
    }
    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            font-size: 2rem;
            color: $color-blue-3;
            text-align: center;
            margin: 30px;
        }
        p {
            font-size: 1rem;
            text-align: justify;
            text-indent: 50px;
            width: 50vw;
        }
    }
}

@media only screen and (max-width: 475px) {
    .about-page {
        width: 100vw;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .image {
            display: flex;
            justify-content: center;
            img {
                width: 90vw;
            }
        }
        .description {
            display: flex;
            flex-direction: column;
            align-items: center;
            .title {
                font-size: 2rem;
                color: $color-blue-3;
                text-align: center;
                margin: 30px;
            }
            p {
                font-size: 1rem;
                text-align: justify;
                text-indent: 50px;
                width: 80vw;
            }
        }
    }
}