$color-blue-4: #0F4C75;
$color-blue-3: #3F72AF;
$color-blue-2: #B9D7EA;
$color-blue-1: #D6E6F2;
$color-white: #fff;
$color-grey: #818181;
$color-grey-0: #EFF0F5;
$color-grey-1: #f9f9f9;
$color-black: #1B262C; 
$color-banner: #F7FBFC; 
$color-red: #FF1700; 