
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.active a{
    color: $color-white !important;
    background-color: $color-blue-3 !important;
}
.disabled a{
    color: $color-grey !important;
}
button {
    outline: none;
    border: none; 
    cursor: pointer;
}
@media only screen and (max-width: 475px) {
    html{
        font-size: 14px;
    }
}